.title2
{  
    font-size: 3.5ex;
    text-align:center;
    background-color: #FFF;
    background-size: cover;
}
.updatalog
{
	text-indent: 25em;
	color:aliceblue;
	line-height: 35px;
	overflow: hidden;
	padding: 5em 0em;
    background: #009E2D;
	text-align:left
}
.banquan
{
    text-align: center;
	line-height: 5px;
	background: #FFF;
}

.button2
{
    display: inline-block;
	border-radius: 15ex;
	padding: 0em 3em;
	background: #009e69;
	letter-spacing: 0.20em;
	line-height: 4em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	color: #FFF;
}
.button3
{
    display: inline-block;
	border-radius: 15ex;
	padding: 0em 3em;
	background: #009E2D;
	letter-spacing: 0.20em;
	line-height: 4em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
    color: #FFF;
}
.title3
{  
    color: #FFF;
    text-indent:13.2ex;
    font-size: 7ex;
    text-align:left;
}