.title2
{  
    font-size: 3.5ex;
    text-align:center;
    background-color: #FFF;
    background-size: cover;
}
.updatalog
{   
	overflow: hidden;
	padding: 5em 55em 5em 35em;
	background: linear-gradient(135deg, #009E2D,#0C834F,#186871);
	color: aliceblue;
	position: absolute;
}
.banquan
{
    text-align: center;
	line-height: 5px;
	background: #FFF;
}

.button2
{
    display: inline-block;
	border-radius: 15ex;
	padding: 0em 3em;
	background: linear-gradient(135deg, #009E2D,#0C834F,#186871);
	letter-spacing: 0.20em;
	line-height: 4em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	color: #FFF;
}
.button3
{
    display: inline-block;
	border-radius: 15ex;
	padding: 0em 3em;
	background: linear-gradient(135deg, #009E2D,#0C834F,#186871);
	letter-spacing: 0.20em;
	line-height: 4em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	color: #FFF;
	z-index: 1;
}
.button3::before
{
	content:"";
	position:absolute;
	left: -5px;
	right: -5px;
	top: -5px;
	bottom: -5px;
	background: linear-gradient(135deg, #009E2D,#0C834F,#186871);
	border-radius: 15ex;
	filter: blur(20px);
	z-index: -1;
}
.title3
{  
    color: #FFF;
    text-indent:13.2ex;
    font-size: 7ex;
    text-align:left;
}